<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CADisableMinimumFrameDurationOnPhone</key>
   <true/>
   <key>CFBundleDevelopmentRegion</key>
   <string>$(DEVELOPMENT_LANGUAGE)</string>
   <key>CFBundleDisplayName</key>
   <string>JAM</string>
   <key>CFBundleExecutable</key>
   <string>$(EXECUTABLE_NAME)</string>
   <key>CFBundleIdentifier</key>
   <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleName</key>
   <string>JAM</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleShortVersionString</key>
   <string>$(FLUTTER_BUILD_NAME)</string>
   <key>CFBundleSignature</key>
   <string>????</string>
   <key>CFBundleURLTypes</key>
   <array>
      <dict>
         <key>CFBundleTypeRole</key>
         <string>Editor</string>
         <key>CFBundleURLSchemes</key>
         <array>
           <string>com.googleusercontent.apps.223327218351-8qri3jukrcf1daanfap28dd4mno00erf</string>
         </array>
      </dict>
      <dict>
         <key>CFBundleTypeRole</key>
         <string>Editor</string>
         <key>CFBundleURLSchemes</key>
         <array>
            <string>signinwithapple</string>
         </array>
      </dict>
   </array>
   <key>CFBundleVersion</key>
   <string>$(FLUTTER_BUILD_NUMBER)</string>
   <key>LSApplicationQueriesSchemes</key>
   <array>
      <string>stripe</string>
      <string>comgooglemaps</string>
      <string>baidumap</string>
      <string>iosamap</string>
      <string>waze</string>
      <string>yandexmaps</string>
      <string>yandexnavi</string>
      <string>citymapper</string>
      <string>mapswithme</string>
      <string>osmandmaps</string>
      <string>dgis</string>
      <string>qqmap</string>
      <string>here-location</string>
      <string>tomtomgo</string>
      <string>copilot</string>
      <string>com.sygic.aura</string>
      <string>nmap</string>
      <string>kakaomap</string>
      <string>tmap</string>
      <string>szn-mapy</string>
   </array>
   <key>LSRequiresIPhoneOS</key>
   <true/>
   <key>NSCameraUsageDescription</key>
   <string>QRコードの読み取りなどに使います</string>
   <key>BGTaskSchedulerPermittedIdentifiers</key>
   <array>
       <string>$(PRODUCT_BUNDLE_IDENTIFIER).location</string>
       <string>$(PRODUCT_BUNDLE_IDENTIFIER).refresh</string>
   </array>
   <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
   <string>近くの聖地をお知らせするために、位置情報へのアクセスが必要です。</string>
   <key>NSLocationAlwaysUsageDescription</key>
   <string>近くの聖地をお知らせするために、位置情報へのアクセスが必要です。</string>
   <key>com.apple.developer.in-app-payments</key>
   <array>
      <string>merchant.com.sotakawakami.jam</string>
   </array>
   <key>NSUserNotificationUsageDescription</key>
   <string>アプリでポイント獲得時に通知を表示するために許可が必要です</string>
   <key>UIBackgroundModes</key>
   <array>
      <string>location</string>
      <string>fetch</string>
      <string>processing</string>
      <string>remote-notification</string>
   </array>
   <key>UIRequiredDeviceCapabilities</key>
   <array>
      <string>arm64</string>
   </array>
   <key>NSLocationWhenInUseUsageDescription</key>
   <string>近くの聖地をお知らせするために位置情報へのアクセスが必要です。</string>
   <key>NSPhotoLibraryUsageDescription</key>
   <string>アカウント登録や投稿機能に利用します。</string>
   <key>SignInWithApple</key>
   <true/>
   <key>UIApplicationSupportsIndirectInputEvents</key>
   <true/>
   <key>GADApplicationIdentifier</key>
   <string>ca-app-pub-1580421227117187~2428176269</string>
   <key>SKAdNetworkItems</key>
   <array>
     <dict>
       <key>SKAdNetworkIdentifier</key>
       <string>cstr6suwn9.skadnetwork</string>
     </dict>
   </array>
   <key>NSUserTrackingUsageDescription</key>
   <string>関連性の高い広告を表示するために使用されます。</string>
   <key>io.flutter.embedded_views_preview</key>
   <true/>
   <key>UILaunchStoryboardName</key>
   <string>LaunchScreen</string>
   <key>UIMainStoryboardFile</key>
   <string>Main</string>
   <key>UISupportedInterfaceOrientations</key>
   <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
   </array>
   <key>UISupportedInterfaceOrientations~ipad</key>
   <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
   </array>
   <key>com.apple.developer.applesignin</key>
   <array>
      <string>Default</string>
   </array>
   <key>SKPaymentTransactionObserverUsageDescription</key>
   <string>アプリ内課金の処理に必要です</string>
   <key>NSPhotoLibraryAddUsageDescription</key>
   <string>JAMがメディアを端末に保存するために使用されます</string>
   <key>NSPhotoLibraryUsageDescription</key>
   <string>JAMがメディアを端末に保存するために使用されます</string>
   <key>StoreKit</key>
   <array>
      <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>app.revenuecat.purchases</string>
      </dict>
   </array>
</dict>
</plist>